body {
  background-image: url(../images/BG/BG.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  object-fit: cover;
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -999;
}
.nav-menu {
  text-align: center;
}
.nav-menu a {
  float: right;
  margin-right: 30px;
  max-width: 163px;
  text-align: center;
  margin-top: 10px;
}
.login-content {
  min-height: 40vh;
}
.form-bg {
  background-image: url("../images/Login/Badge.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 420px;
  min-height: 540px;
  margin-top: -100px;
}
.form-bg h2 {
  text-align: center;
  padding-top: 70px;
  color: #fff;
}
.username-input {
  padding-top: 30px;
}
.username-input input {
  background-image: url("../images/Login/Username_Botton.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 255px;
  min-height: 60px;
  background-color: transparent;
  border: none;
  padding-left: 30px;
  margin-left: 75px;
}
.username-input input:focus,
.password-input input:focus {
  background-color: transparent;
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}
.form-control {
  border: none;
  outline: 0;
  outline-style: none;
  border: transparent;
}
.password-input input {
  background-image: url("../images/Login/Username_Botton.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 255px;
  min-height: 60px;
  background-color: transparent;
  border: none;
  padding-left: 30px;
  margin-left: 75px;
}
.password-input {
  margin-top: 20px;
}
.login-btn {
  background-image: url("../images/Login/Login_Bottons.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 200px;
  min-height: 60px;
  background-color: transparent;
  border: none;
  padding-left: 30px;
  margin-left: 30px;
}
.img-content img {
  width: 650px;
  margin-left: -150px;
}
.img-content-box {
  margin-top: -65px;
}
.admin-btn {
  padding: 10px;
  position: fixed;
  left: 30px;
  bottom: 30px;
  border: cyan solid 3px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.navBarDivider {
  width: 100%;
  padding: 20px;
}

@media screen and (max-width: 768) {
  .img-content img {
    width: 100%;
    margin-left: -150px;
  }
}
